Package: com.shinvou.HiddenCallLog7
Name: HiddenCallLog7
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: HiddenCallLog7
Author: Timm Kandziora
Section: Tweaks
Version: 2.0-1
Installed-Size: 360
