Package: com.shinvou.HiddenCallLog7
Name: HiddenCallLog7
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: HiddenCallLog7
Author: Timm Kandziora
Section: Tweaks
Version: 1.1-1
Installed-Size: 204
