<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Save hidden/unhidden state</string>
			<key>footerText</key>
			<string>Save hidden/unhidden state across resprings, reboots and so on.

If this is not enabled, MobilePhone will automatically launch with a hidden call log after a respring/reboot or when not running in backgorund.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.shinvou.hiddencalllog7/reloadSettings</string>
			<key>defaults</key>
			<string>com.shinvou.hiddencalllog7</string>
			<key>key</key>
			<string>saveState</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact developer</string>
			<key>footerText</key>
			<string>Feel free to follow me on twitter for any updates on my apps and tweaks or contact me for support questions. 

This tweak is Open-Source, so make sure to check out my GitHub.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>openTwitter</string>
			<key>icon</key>
			<string>twitter@2x.png</string>
			<key>label</key>
			<string>@biscoditch</string>
			<key>enabled</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>action</key>
			<string>openGithub</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>label</key>
			<string>https://github.com/shinvou</string>
			<key>enabled</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>HiddenCallLog7</string>
</dict>
</plist>
